.lvl {
  max-width: 400px;
  max-height: 400px;
}

.game_pic {
  display: flex;
  width: 800px;
  height: 600px;
}

.allpeople {
  display: flex;
  justify-content: center;
}

.people{
  display: flex;
  width: 500px;
  height: 250px;
}

.param {
  display: flex;
  justify-content: center;
}

.slika {
  display: flex;
  justify-content: center;
}